<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>
<body>
    {# Comentario jinga2 #}
    <p>Modelo</p>
    <p>
        {{ x + y}}
    </p>
    {% if x > 50 %}
        <p>oi</p>
    {% else %}
        <p>else</p>
    {% endif %}

    <hr>
    <table>
        {% for k, v in query.items() %}
        <tr>
            <th>{{ k }}</th>
            <td>{{ v }}</td>
        </tr>
        {% endfor %}
    </table>
    </hr>
</body>
</html>